:root {
  --fontcolor: rgb(255, 123, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 540px) {
  html {
    font-size: 12px;
  }
}

body::-webkit-scrollbar {
  width: 10px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: var(--fontcolor);
  border-radius: 10px;
}

.background {
  width: 100%;
  height: 100vh;
  background: url(../img/background.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 2% 8%;
}
.background .navbar {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px 0;
}
.background .navbar #toggle-button {
  background: none;
  background-color: none;
  color: #000000;
  font-size: 1.6rem;
  border: none;
}
.background .navbar #toggle-button i {
  color: var(--fontcolor);
}
.background .navbar button {
  color: rgb(0, 0, 0);
  background: #fff;
}
.background .navbar .navbar-nav {
  margin-right: 45px;
}
.background .navbar .navbar-nav .nav-link {
  color: white;
  font-size: 1.17em;
  font-weight: bold;
  position: relative;
  letter-spacing: 1px;
  padding: 0 20px;
}
.background .navbar .navbar-nav .nav-link:after {
  content: "";
  position: absolute;
  background-color: var(--fontcolor);
  box-shadow: 0 0 10px var(--fontcolor), 0 0 20px var(--fontcolor), 0 0 40px var(--fontcolor), 0 0 80px var(--fontcolor);
  height: 3px;
  width: 0;
  left: 12px;
  bottom: -1px;
  transition: 0.3s;
}
.background .navbar .navbar-nav .nav-link:hover:after {
  width: 80%;
}
.background .navbar .navbar-brand {
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
}
.background .navbar .navbar-brand span {
  color: var(--fontcolor);
}
.background .text-box {
  position: absolute;
  bottom: 15%;
  text-align: center;
}
.background .text-box .barra {
  position: absolute;
  width: 10px;
  height: 65%;
  background: var(--fontcolor);
  border-radius: 5px;
  box-shadow: 0 0 10px var(--fontcolor), 0 0 20px var(--fontcolor), 0 0 40px var(--fontcolor), 0 0 80px var(--fontcolor);
}
.background .text-box h2 {
  font-size: 5em;
  font-style: italic;
  font-weight: bold;
  margin-left: 0.7em;
  letter-spacing: 1.5px;
  color: transparent;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
}
.background .text-box h2 span {
  background-image: linear-gradient(var(--fontcolor), var(--fontcolor));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
}
.background .text-box .neon-button {
  background: none;
  margin-top: 50px;
  margin-left: 45px;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: white;
  border: var(--fontcolor) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  box-shadow: 0 0 0.75em 0 var(--fontcolor);
  position: relative;
  -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(0, 0, 0, 0.15));
  transition: 0.3s;
}
.background .text-box .neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 1.3em 0.45em var(--fontcolor);
  opacity: 0;
  transition: opacity 100ms linear;
}
.background .text-box .neon-button:hover,
.background .text-box .neon-button:focus {
  background-color: var(--fontcolor);
  color: black;
  text-shadow: none;
}
.background .text-box .neon-button:hover::after {
  opacity: 1;
}

.social {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 99;
  font-size: 1.2rem;
}
.social #btn-plus {
  display: none;
}
.social .redes a {
  display: block;
  text-decoration: none;
  background: var(--fontcolor);
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin-bottom: -15px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
}
.social .redes a:hover {
  background: #fff;
  color: #000000;
}
.social .btn-plus .fa-plus {
  display: block;
  text-decoration: none;
  background: var(--fontcolor);
  color: #fff;
  width: 55px;
  height: 55px;
  line-height: 55px;
  margin-bottom: -15px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease;
  cursor: pointer;
}
.social #btn-plus:checked ~ .redes a {
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.social #btn-plus:checked ~ .btn-plus .fa-plus {
  transform: rotate(137deg);
  color: #000000;
  background: #fff;
}

.pick-color {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
}
.pick-color h4 {
  color: var(--fontcolor);
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-height: 470px) {
  .background {
    padding: 0 3%;
    padding-top: 15px;
  }
  .background .text-box {
    bottom: 0%;
  }
  .background .text-box h2 {
    font-size: 3rem;
  }
  .background .text-box .barra {
    width: 10px;
    height: 57%;
  }
  .background .text-box .neon-button {
    margin-top: 30px;
    font-size: 1em;
    margin-left: 15px;
    padding: 0.25em 0.5em;
    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0));
  }
}
@media screen and (max-width: 1200px) {
  .background .navbar .navbar-nav {
    margin-right: -25px;
    font-size: 1rem;
  }
  .background .navbar .navbar-nav .nav-link {
    padding: 0 15px 0 15px;
  }
  .background .text-box h2 {
    font-size: 4.5rem;
    margin-left: 0.8em;
  }
  .background .text-box .barra {
    width: 10px;
    height: 60%;
  }
  .background .text-box .neon-button {
    font-size: 1.5rem;
    margin-top: 40px;
    margin-left: 35px;
    padding: 0.25em 0.9em;
  }
}
@media screen and (max-width: 998px) {
  .background .navbar .navbar-nav {
    margin-right: 0px;
  }
  .background .navbar .navbar-nav .nav-link {
    margin: 10px 0;
  }
  .background .navbar .navbar-nav .nav-link:hover:after {
    width: 15%;
  }
}
@media screen and (max-width: 768px) {
  .background {
    padding: 2% 5%;
  }
  .background .text-box {
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(0, -10%);
  }
  .background .text-box h2 {
    font-size: 3.5rem;
    margin-left: 0.7em;
  }
  .background .text-box .barra {
    width: 0;
    height: 0;
    opacity: 0;
  }
  .background .text-box .neon-button {
    margin-top: 35px;
    font-size: 1.2rem;
    margin-left: 25px;
    padding: 0.25em 0.7em;
  }
}
@media screen and (max-width: 425px) {
  .background {
    padding: 0 3%;
    padding-top: 15px;
  }
  .background .text-box h2 {
    font-size: 32px;
  }
  .background .text-box .neon-button {
    margin-top: 30px;
    font-size: 1em;
    margin-left: 15px;
    padding: 0.25em 0.5em;
  }
  .social {
    bottom: 10px;
    right: 0px;
    font-size: 1rem;
  }
  .social .redes a {
    color: #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .social .btn-plus .fa-plus {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }
  .pick-color {
    bottom: 0px;
    left: 0px;
    z-index: 99;
  }
}
@media screen and (max-width: 300px) {
  .background {
    padding: 0 1%;
    padding-top: 10px;
  }
  .background .navbar .navbar-brand {
    font-size: 1.3em;
  }
  .background .text-box {
    bottom: 25%;
  }
  .background .text-box .neon-button {
    margin-top: 30px;
    font-size: 1em;
    margin-left: 5px;
    padding: 0.2em 0.3em;
    -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0));
  }
}
@media screen and (max-height: 700px) {
  .background {
    height: 100vh;
  }
  .background .text-box {
    position: absolute;
    bottom: 0%;
    text-align: center;
  }
  .background .neon-button {
    -webkit-box-reflect: below 15px linear-gradient(transparent, rgba(0, 0, 0, 0)) !important;
  }
}
#aboutMe {
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 100px 0;
}
#aboutMe .title {
  position: relative;
  color: #fff;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 50px;
  font-size: 2.1rem;
  font-weight: bold;
  font-style: italic;
}
#aboutMe .title span {
  color: var(--fontcolor);
}
#aboutMe .title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 165px;
  height: 3px;
  background: var(--fontcolor);
  border-radius: 10%;
  box-shadow: 0 0 10px var(--fontcolor), 0 0 20px var(--fontcolor), 0 0 40px var(--fontcolor);
}
#aboutMe .card {
  background: rgb(0, 0, 0);
  border: none;
  text-align: center;
}
#aboutMe .card .card-title {
  display: inline;
  color: #fff;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  transition: 500ms;
}
#aboutMe .card .card-title:hover {
  color: var(--fontcolor);
}
#aboutMe .card .card-title-orange {
  display: inline;
  color: var(--fontcolor);
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 3px;
  transition: 500ms;
}
#aboutMe .card .card-title-orange:hover {
  color: #fff;
}
#aboutMe .card .card-text {
  padding: 10px;
  color: #fff;
  font-size: 1.25rem;
}
#aboutMe img {
  height: 35rem;
  border-radius: 5%;
  transform: perspective(800px) rotateY(-10deg);
  transition: 0.5s;
  -webkit-box-reflect: below 5px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.182));
  z-index: 0;
}
#aboutMe img:hover {
  transform: perspective(800px) rotateY(0deg);
}

@media screen and (max-width: 1000px) {
  #aboutMe .card .card-title, #aboutMe .card .card-title-orange {
    font-size: 1.5rem;
  }
  #aboutMe .card .card-text {
    font-size: 1.1rem;
  }
  #aboutMe img {
    height: 30rem;
  }
}
@media screen and (max-width: 767px) {
  #aboutMe {
    height: auto;
    padding: 50px 0px 50px 0px;
  }
}
@media screen and (max-width: 558px) {
  #aboutMe img {
    height: 25rem;
  }
}
#proyects {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 100px;
}
#proyects .proyects-title {
  position: relative;
  color: #fff;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  text-align: center;
  font-weight: bold;
  font-size: 2.1em;
}
#proyects .proyects-title span {
  color: var(--fontcolor);
}
#proyects .proyects-title::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 165px;
  height: 3px;
  background: var(--fontcolor);
  border-radius: 10%;
  box-shadow: 0 0 10px var(--fontcolor), 0 0 20px var(--fontcolor), 0 0 40px var(--fontcolor);
}
#proyects .timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 75px;
}
#proyects .timeline .containers {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}
#proyects .timeline .containers .content {
  padding: 20px 20px;
  background-color: rgb(0, 0, 0);
  -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.127));
  position: relative;
  border: 2px solid #fff;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}
#proyects .timeline .containers .content img {
  width: 100%;
  height: auto;
  border-radius: 7%;
  border: 2px solid #000000;
}
#proyects .timeline .containers .content h2 {
  color: var(--fontcolor);
  font-size: 1.7em;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 15px;
}
#proyects .timeline .containers .content p {
  margin-top: 15px;
  font-size: 1.25em;
}
#proyects .timeline .containers .content p span {
  color: var(--fontcolor);
  font-weight: bold;
  font-style: italic;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
}
#proyects .timeline .containers .content a {
  font-size: 1.25em;
  list-style: none;
  text-decoration: none;
}
#proyects .timeline .containers .content a .btn, #proyects .timeline .containers .content a button {
  background: transparent;
  border: 2px solid var(--fontcolor);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}
#proyects .timeline .containers .content a .btn:hover {
  border-color: #fff;
  color: var(--fontcolor);
}
#proyects .timeline .containers::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: var(--fontcolor);
  border: 4px solid #000000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
#proyects .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--fontcolor);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
#proyects .left {
  left: -4px;
}
#proyects .right {
  left: 50%;
}
#proyects .left::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #fff;
}
#proyects .right::before {
  content: "";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10 10px 0px;
  border-color: transparent #fff transparent;
}
#proyects .right::after {
  left: -13px;
}

@media screen and (max-width: 768px) {
  #proyects .timeline .containers {
    padding: 10px 15px;
    width: 50%;
  }
  #proyects .timeline .containers .content {
    padding: 15px 25px;
  }
  #proyects .timeline .containers .content h2 {
    font-size: 1.4rem;
  }
  #proyects .timeline .containers::before {
    opacity: 0;
  }
}
@media screen and (max-width: 600px) {
  #proyects .timeline::after {
    left: 31px;
  }
  #proyects .timeline .containers {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  #proyects .timeline .containers .content {
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0));
    padding: 15px 25px;
  }
  #proyects .timeline .containers::before {
    opacity: 1;
    left: 61px;
    border: medium solid #fff;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }
  #proyects .timeline .left::after,
  #proyects .timeline .right::after {
    left: 18px;
  }
  #proyects .timeline .left {
    left: 0;
  }
  #proyects .timeline .right {
    left: 0%;
  }
}
@media screen and (max-width: 375px) {
  #proyects .timeline::after {
    left: 10px;
  }
  #proyects .timeline .containers {
    padding: 10px 5px 0px 25px;
  }
  #proyects .timeline .containers .content {
    padding: 10px 5px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, rgba(0, 0, 0, 0));
  }
  #proyects .timeline .containers::before {
    opacity: 0;
  }
  #proyects .timeline .left::after,
  #proyects .timeline .right::after {
    left: -3px;
  }
}
footer {
  background-color: #24262b;
  color: #fff;
}
footer h2 {
  position: relative;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  padding-bottom: 50px;
  font-size: 2.1em;
}
footer h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--fontcolor);
  height: 3px;
  box-sizing: border-box;
  width: 100px;
  border-radius: 10%;
  box-shadow: 0 0 10px var(--fontcolor), 0 0 20px var(--fontcolor), 0 0 40px var(--fontcolor);
}
footer .contact-form h4 {
  font-weight: bold;
}
footer .contact-form input,
footer .contact-form input:focus,
footer .contact-form textarea,
footer .contact-form textarea:focus {
  background: none;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--fontcolor);
  box-shadow: none;
  color: #fff;
}
footer .contact-form label {
  font-weight: bold;
}
footer .contact-form button {
  background-color: var(--fontcolor);
  border: none;
  color: #fff;
  font-weight: bold;
}
footer .contact-form .btn:hover {
  color: #000000;
  background-color: #fff;
}
footer .contact-info {
  height: 100%;
  padding-left: 75px;
}
footer .contact-info .div-info {
  height: 50%;
}
footer .contact-info .div-info h4 {
  margin-bottom: 45px;
  font-weight: bold;
}
footer .contact-info .div-info .info-footer-list {
  justify-content: center;
  list-style: none;
  color: #fff;
}
footer .contact-info .div-info .info-footer-list li {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.3rem;
}
footer .contact-info .div-info .info-footer-list li a {
  text-decoration: none;
}
footer .contact-info .div-info .info-footer-list li span {
  background-color: transparent;
  color: var(--fontcolor);
  margin-right: 20px;
}
footer .contact-info .div-redes {
  height: 50%;
}
footer .contact-info .div-redes h4 {
  margin-bottom: 50px;
  font-weight: bold;
}
footer .contact-info .div-redes .social-footer-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
footer .contact-info .div-redes .social-footer-list li {
  color: #fff;
}
footer .contact-info .div-redes .social-footer-list li a {
  text-decoration: none;
  width: 65px;
  height: 65px;
  line-height: 65px;
  margin-right: 20px;
  display: inline-block;
  background-color: rgb(24, 24, 24);
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  border-radius: 50%;
}
footer .contact-info .div-redes .social-footer-list li a:hover {
  transition: 500ms;
  color: #000000;
  background-color: var(--fontcolor);
}

@media screen and (max-width: 1100px) {
  footer .contact-info {
    padding-left: 10px;
  }
}
@media screen and (max-width: 991px) {
  footer .contact-info .div-info {
    text-align: center;
  }
  footer .contact-info .div-info .info-footer-list {
    margin-left: 150px;
  }
  footer .contact-info .div-redes {
    text-align: center;
  }
  footer .contact-info .div-redes .social-footer-list {
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  footer .contact-info .div-info .info-footer-list {
    margin-left: 60px;
  }
}
@media screen and (max-width: 575px) {
  footer .contact-info .div-info .info-footer-list {
    margin-left: 0px;
  }
}
@media screen and (max-width: 425px) {
  footer .contact-info {
    padding-left: 0px;
  }
  footer .contact-info .div-info {
    margin-left: -30px;
  }
  footer .contact-info .div-info .info-footer-list li {
    font-size: 1rem;
  }
  footer .contact-info .div-info .info-footer-list li span {
    margin-right: 10px;
    margin-left: 0px;
  }
  footer .contact-info .div-redes .social-footer-list li {
    margin: 0 auto;
  }
  footer .contact-info .div-redes .social-footer-list li a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 0px;
    font-size: 1.5rem;
  }
}
#skills {
  padding: 100px 0;
  background: #000000;
  position: relative;
  z-index: 99;
}
#skills h2 {
  position: relative;
  color: #fff;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  text-align: center;
  font-weight: bold;
  font-size: 2.1em;
}
#skills h2 span {
  color: var(--fontcolor);
}
#skills h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
  width: 165px;
  height: 3px;
  background: var(--fontcolor);
  border-radius: 10%;
  box-shadow: 0 0 10px var(--fontcolor), 0 0 20px var(--fontcolor), 0 0 40px var(--fontcolor);
}

.container-slider {
  min-height: 50vh;
  display: grid;
  place-items: center;
  /* Box Shadow */
  /* Animation */
}
.container-slider .slider {
  height: 250px;
  margin: auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.container-slider .slider .slide-track {
  display: flex;
  width: 8250px;
  animation: scroll 20s linear infinite;
}
.container-slider .slider .slide-track .slide {
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}
.container-slider .slider .slide-track .slide img {
  width: 100%;
  transition: transform 0.5s;
}
.container-slider .slider .slide-track .slide img:hover {
  transform: translateZ(15px);
}
.container-slider .slider .slide-track:hover {
  animation-play-state: paused;
}
.container-slider .slider::before {
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.container-slider .slider::after {
  background: linear-gradient(to left, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.container-slider .slider::before {
  left: 0;
  top: 0;
}
.container-slider .slider::after {
  right: 0;
  top: 0;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-4000px);
  }
}

/*# sourceMappingURL=style.css.map */
